.div{
	background-size: 100% 100%;
	background: url(realm-of-the-dragonborn_skyrim_bethesda_1600x994_marked.jpg);
}
.d{
	background: url(Dragonborn.jpg);
	background-size: 100% 100%;
}
.e{
	background-size: 100% 100%;
	background: url(the-elder-scrolls-v-skyrim-the-elder-scrolls-dragon-fantasy-game-1080P-wallpaper.jpg);
}
.n{
	background-size: 100% 100%;
	background: url(nIlmbNf.jpg);
}
.i{
	background-size: 100% 100%;
	background: url(Скелетный_ключ_.png);
}
